.back{	
	background-color: rgba(99, 66, 20,0.2);
}
.age1{
 background-color: rgba(255, 255, 0 , 0.2);
}

.age2{
 background-color: rgba(255, 0, 0, 0.2);
}


.age3{
 background-color: rgba(153, 255, 153, 0.2);
}

.age4{
 background-color: rgba(0, 255, 255, 0.2);
}
.age5{
 background-color: rgba(153, 0, 153,0.2);
}
.age6{
 background-color: rgba(163, 67, 3, 0.2);
}
.age7{
 background-color: rgba(201, 54, 5, 0.2);
}
.age8{
 background-color: rgba(225, 132, 91, 0.2);
}

.age9{
 background-color: rgba(0, 102, 255, 0.2);
}
.age10{
 background-color: rgba(51, 153, 255, 0.2);
}
.age11{
 background-color: rgba(153, 102, 51, 0.2);
}
.age12{
 background-color: rgba(0, 0, 102, 0.2);
}
.age13{
 background-color: rgba(0, 255, 0, 0.2);
}
.age14{
 background-color: rgba(239, 239, 245, 0.2);
}
